    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>下载指引说明</h2>
              <br/>
                <p>这里要区分下你使用的系统，如果你是苹果请使用上面的iPhone下载渠道，但是iPhone需要使用海外苹果账号，具体你点击上方的苹果下载有指引告诉你教程，其他的比如安卓的直接点击进入下载，windows或者mac也是一样，点击下载安装就可以了。 <a href="http://startbootstrap.com/template-overviews/landing-page/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>苹果免费共享账号，你可以点击此处找到，这里有很多免费共享账号 <a href="/302.html?target=https://tggsearch.github.io/docs/apple-id.html">免费苹果共享账号</a></p>
                <p>This theme features stock photos by <a href="http://join.deathtothestockphoto.com//">Death to the Stock Photo</a>.</p>
                <p>Landing-Page includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
                <br/>
              </div>
        </div>
    </section>
